.superhero {
  padding: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
  place-items: center;
  min-height: 50vh;
}

.info {
}

.nickname {
  margin-top: 40px;
  font-weight: bold;
}

.realname {
  margin: 30px 0;
  font-size: 24px;
  font-weight: normal;
}

.superpowers {
  margin: 30px 0;

}

.catch_phrase {
  margin: 30px 0;

}

.description {
  margin: 30px 0;

  line-height: 24px;
}

.image {
  height: 540px;
  width: auto;
}
