.container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.list__container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.list__container a {
  background-color: #081f2d;
  border-radius: 29px;
  border: 1px solid #081f2d;
  color: white;
  font-size: 15px;
  padding: 10px 45px;
  cursor: pointer;
  transition: 0.3s;
}

.list__container a:hover {
  background-color: white;
  color: #081f2d;
  border-color: #081f2d;
  transition: 0.3s;
}
